<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HC Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" th:href="@{../images/logo.png}" type="image/x-icon">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link th:href="@{../css/local.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{../css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link th:href="@{../css/style.css}" rel='stylesheet' type='text/css' />
    <script th:src="@{../js/simpleCart.min.js}"> </script>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" th:src="@{../js/jquery-1.11.1.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{../css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{../js/megamenu.js}"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script th:src="@{../js/topic.js}"> </script>
</head>
<body>
<div th:replace="~{component::header}"></div>
<div class="single_top">
    <div class="container">
        <div class="box_4">
            <div class="col-md-8 about_left">
                <h1 class="header_bottom_border" style="font-size: 1.5em;padding-bottom:10px ;" th:text="${cts.ctsName}">2021暑期多校训练营1</h1>
                <div class="topiccontent">
                    <div class="overview">
								<textarea id="textarea" th:text="${cts.ctsIntroduction}" autoHeight="true" readonly="readonly" disabled>训练营简介：
暑期多校训练营是为ACM选手举办的暑期特训营，旨在通过比赛、讲解、交流来提升同学们的编程能力，为下半年的比赛备战。此外，还可以通过训练营认识更多大佬，有机会获得互联网名企的内推机会。

命题团队简介（按答应帮忙出题序排名）
1、lzr_010506，李泽仁，东北大学，2021 ICPC ecfinal 金 CF max rating 2786，特别鸣谢好友ppc_qjd
2、Gromah，高铭鸿，复旦大学，2019 WorldFinal 13th，2018 CCPC总决赛季军，2019 CCPC哈尔滨站冠军
3、华东师范大学 谢嘉东(Xiejiadong)赵云翔(Kilo_5723) 朱桐(stonemasons) 蔡盛梁(2014CAIS01) World Final 2020，张羽戈 周亦然 林方欣 World Final 2019
4、chenjb, 陈靖邦，浙江大学，2017 ICPC青岛区域赛冠军，2018 CCPC吉林站季军，WorldFinal 2018，特别鸣谢好友Acesrc
5、张扬播（cf: zyb），咖啡鸡成员，WF2019 13th，WF2020；
冯哲（cf: Altria-PenDragon），北大 final 队 WF2019 13th；
蒋仕彪（cf: jiangshibiao）, CCPC 总决赛亚军，WF2019 21st
6、SkyDec, 洪华敦, 北京大学 , World Final 2018 Gold Medal
7、Miracle03，邓明扬，人大附中，CF rating3314，Atcoder rating3583，2020年小米ICPC邀请赛第一名。感谢学弟xtqqwq，AKEE，墨染空
8、乐清知临中学，浙江省信息学竞赛名校，教练张超，WorldFinal 2011
9、Isonan（胡杨，杭州第二中学）：WC2021金牌,ZJOI2021A队，NOI2019D类银牌
LJC00118（王相文，杭州第二中学）：WC2021金牌,ZJOI2021A队，NOI2020D类银牌,WC2020金牌
wlzhouzhuan（周转，杭州第二中学）：WC2021金牌,APIO2020金牌
10、电子科技大学，XCPC竞赛名校，world-final 2020
报名&比赛时间：
1、报名时间：即日起至8月16日
2、比赛时间：

7月17日-8月16日，十场比赛，共持续5周。
每周一、周六，12:00-17:00比赛，19:00-21:00视频讲解
直播地址：https://www.nowcoder.com/live/633/1/live
视频讲解录播地址：https://www.nowcoder.com/study/live/633
（直播结束以后3个工作日内更新）
适合人群：
算法竞赛选手，主要是下半年准备参加CCPC和ICPC的选手。
题目为英文，也适合信息学不低于提高组级别的选手。
题目难度：
题目具有一定难度，对标区域赛难度水平。
活动详情
❤ 10场高质量比赛：

集训期间，每周一、六12:00-17:00举办1场比赛，共计10场比赛，每场9-12题，题目由国内ACM顶尖选手和IOI国家队成员命题。

❤ 10位出题大佬视频讲解：

集训期间，每周一、六19:00-21:00，由命题团队成员为大家视频讲解当天比赛题目并进行答疑。

❤ 报名即可获赠礼包：

报名成功后，每个账号将获赠3件T恤-2021款。

❤ 优异队伍颁发奖品：
队伍最终积分排在前5名的，每队可获得300元京东卡。

10场比赛全部参与且过题的选手，可瓜分10000牛币。

队伍最终积分排在前15名的，队内所有成员可获得合作企业内推校招 / 实习机会。

❤ 所有参与队伍均可共享题解+标程。

以学校为单位，一次性报名5个账号的教练，可获取题解+标程+数据。
（数据在全部比赛结束后提供，请联系工作人员王筱筱 QQ：3028023477，领取）
❤ 比赛成绩计入rating。

注意：如果是团队参赛，rating将计入到团队成绩。

报名方式&邀请函：
1、报名费用：350元/队（支持开receipt ）。

2、报名地址：
❤ 10元体验（第一场）：
报名链接：https://ac.nowcoder.com/order?itemId=29&itemType=ACM_CONTEST_CHARGE（不支持退款）
十场比赛报名链接：https://ac.nowcoder.com/order?itemId=30&itemType=ACM_CONTEST_CHARGE（不支持退款）

❤ 早鸟特惠报名十场：268元 / 队，仅限6月15日23:00前。（支持开receipt ）
报名流程：
到比赛页面 > 点击报名按钮 > 选择 “个人参赛” 或者 “团队参赛”
如选“团队参赛”，需先【点击这里创建团队】>分享团队地址给好友>团队报名比赛
（比赛地址：https://ac.nowcoder.com/acm/contest/11166#description）

❤ 5队以上早鸟报名：268元 / 队，仅限6月15日23:00前。（支持开receipt）
报名流程：本校教练联系工作人员王筱筱QQ：3028023477，备注：学校名称+教练报名

特别注意：
因是付费比赛，涉及支付行为，所以如果是团队报名，请务必在此选择团队参赛，并选中想报名参加的团队，【点击这里创建团队】

3、训练营邀请函下载地址：点击下载
4、对公转账信息：

公司名称：北京科技有限公司
开户行：中国建设银行股份有限公司北京中关村软件园支行
开户账号：11001125700052515801
*如果采用对公转账形式，转账后务必要联系工作人员王筱筱QQ：3028023477

开receipt请联系工作人员王筱筱 QQ：3028023477
提供电子版发票

兑换礼包流程：
Step1：查收兑换码：购买成功后，系统消息将给你发送礼包兑换码，如图所示


Step2：兑换报名礼包：按照系统通知要求，到牛币兑换中心进行兑换。
备注好3件T恤尺寸（M-XXXL可选），否则将随机发货。
如是三件XL，则备注XL XL XL



注意事项：
1、所有参与多校训练营的队伍必须遵守约定的纪律：

（1）比赛账号不能外传。

（2）比赛中不能抄袭代码。

（3）比赛中不能恶意卡评测。

（4）不得对外提供比赛数据和标程，仅用于用户自测使用。

2、报名如选择团队报名，比赛rating将计入团队成绩。
3、一旦报名暑期训练营活动，不支持退费，请考虑清楚后报名。
4、本活动解释权归所有，活动介绍未尽事宜以官方解释为准。

常见问题：
1、关于比赛账号可以三人同时登陆么？

答：可以，需在报名的时候选择“团队报名”，并选中你要参赛的队伍，支持先创建团队报名后再邀请人加团。创建团队入口：https://www.ac.nowcoder.com/acm/team/manager/create-team-index

2、每个团最多可以多少人？

答：每个团队最多三人，团队参赛的所有提交和排名都将以团队形式呈现，包括rating也是记到团队成绩，不计入个人账号成绩中。
集训营开始后，不支持团队换人。

3、中学生是否允许参加多校训练营？

答：允许，本届训练营适合OIer报名参与训练。

4、关于receipt的开具

答：支持开专票，请联系工作人员王筱筱 QQ：3028023477，一般在报名成功后3个工作日内开出。

5、训练营邀请函在哪里？

下载地址：点击下载

6、视频讲解地址如何获取？

答：视频地址在举行。录播地址：https://www.nowcoder.com/study/live/633

7、多校训练营是否允许跨校组队？

答：允许，多校训练营不限制学生跨学校组队。

8、我报名了以后T恤去哪里领取呢？

报名后注意查收“消息-系统通知”，里面有礼包兑换码，操作流程请看上方【兑换礼包流程】所述

-2021暑期多校营-</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar">
                <div th:replace="~{component::contestsnav}"></div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div th:replace="~{component::footer}"></div>
</body>
</html>