<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HC Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" th:href="@{../images/logo.png}" type="image/x-icon">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link th:href="@{../css/local.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{../css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link th:href="@{../css/style.css}" rel='stylesheet' type='text/css' />
    <script th:src="@{../js/simpleCart.min.js}"> </script>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" th:src="@{../js/jquery-1.11.1.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{../css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{../js/megamenu.js}"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <style type="text/css">
        @media print{
            a:after{
                content:""!important;
            }
        }
    </style>
</head>
<body>
<div class="topic_list">
    <!--startprint1-->
    <table>
        <tr class="topic_list_first topic_list_font" align="center">
            <td width="5%">#</td>
            <td width="5%">ID</td>
            <td width="auto" align="left">比赛名称</td>
            <td width="10%">创建者</td>
            <td width="25%">报名时间</td>
            <td width="25%">比赛时间</td>
            <td width="5%">状态</td>
            <td width="5%">题目绑定</td>
            <td width="5%">操作</td>
        </tr>
        <tr class="topic_list_sec" th:each="contests:${iPage.records}">
            <td class="topic_list_font" align="center"><p th:text="${contestsStat.count}"></p></td>
            <td class="topic_list_font" align="center">
                <p th:text="${contests.ctsId}"></p>
            </td>
            <td><a th:href="@{/contests/overview(cts_id=${contests.ctsId})}" th:text="${contests.ctsName}"  target="_blank">2021暑期多校训练营1 </a></td>
            <td class="topic_list_font" align="center"><p th:text="${contests.ctsCreator}"></p></td>
            <td class="topic_list_font" align="center"><p th:text="${#dates.format(contests.enrollBegin,'yyyy-MM-dd HH:mm:ss')}+' 至 '+${#dates.format(contests.enrollEnd,'yyyy-MM-dd HH:mm:ss')}"></p></td>
            <td class="topic_list_font" align="center"><p th:text="${#dates.format(contests.ctsBegin,'yyyy-MM-dd HH:mm:ss')}+' 至 '+${#dates.format(contests.ctsEnd,'yyyy-MM-dd HH:mm:ss')}"></p></td>
            <td class="topic_list_font" align="center">
                <p th:if="${contests.ctsState==0}">未开始</p>
                <p th:if="${contests.ctsState==1}">报名中</p>
                <p th:if="${contests.ctsState==2}">报名结束</p>
                <p th:if="${contests.ctsState==3}">比赛中</p>
                <p th:if="${contests.ctsState==4}">已结束</p>
            </td>
            <td class="topic_list_font" align="center"><p th:text="${contests.ctsTopic}"></p></td>
            <td align="center" style="font-size: 0.8em;">
                <a href="#" th:href="@{/manage/contestsedit(ctsId=${contests.ctsId})}">编辑</a>
                <a href="#" th:href="@{/manage/contestsdel(ctsId=${contests.ctsId})}">删除</a>
            </td>
        </tr>
    </table>
    <!--endprint1-->
    <div class="topic_bottom float-bottom">
        <div class="topic_bottom-inner">
            <div class="page-bar">
                <span class="total">
							第 <strong th:text="${iPage.current}"></strong> 页
                </span>
                <span class="total">
							共 <strong th:text="${iPage.pages}"></strong> 页
						</span>
                <div style="display: flex;"><a th:href="@{/contests/list(pn=1)}"><button>|<</button></a>
                    <!--上一页--> <div th:switch="${iPage.current}">
                        <a th:case="1" th:href="@{/contests/list(pn=1)}"><button><</button></a>
                        <a th:case="*" th:href="@{/contests/list(pn=${iPage.current-1})}"><button><</button></a>
                    </div>
                    <!--数字序列-->
                    <div th:each="num:${#numbers.sequence(1,iPage.pages)}">
                        <a th:href="@{/topic/list(pn=${num})}"><button><span class="number">[[${num}]]</span></button></a>
                    </div>
                    <!--下一页-->
                    <div th:switch="${iPage.current}">
                        <a th:case="${iPage.pages}" th:href="@{/contests/list(pn=${iPage.pages})}"><button>></button></a>
                        <a th:case="*" th:href="@{/topic/list(pn=${iPage.current+1})}"><button>></button></a>
                    </div>
                    <a th:href="@{/topic/list(pn=${iPage.pages})}"><button>>|</button></a>
                </div>
            </div>
        </div>
        <input type="button" name="button_export" title="打印表格" onclick="preview(1)" value="打印表格"/>
    </div>
</div>
<script th:src="@{/js/managejs.js}"></script>
</body>
</html>