<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HC Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" th:href="@{../images/logo.png}" type="image/x-icon">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link th:href="@{../css/local.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{../css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link th:href="@{../css/style.css}" rel='stylesheet' type='text/css' />
    <script th:src="@{../js/simpleCart.min.js}"> </script>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" th:src="@{../js/jquery-1.11.1.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{../css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{../js/megamenu.js}"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <!--验证密码是否一致,提交信息是否为空-->
    <script type="text/javascript" th:src="@{../js/register.js}"></script>
</head>
<body>
<div th:replace="~{component::header}"></div>
<div class="single_top">
    <div class="container">
        <div class="register">
            <form class="formre" onsubmit="return resubmit()" th:action="@{/account/subregister}">
                <div class="register-top-grid">
                    <h3>个人信息</h3>
                    <div>
                        <span>用户名<label>*</label></span>
                        <input type="text" name="user_name" id="user_name">
                    </div>
                    <div>
                        <span>手机号码<label>*</label></span>
                        <input type="text" name="user_phone" id="user_phone">
                    </div>
                    <div>
                        <span>电子邮箱<label>*</label></span>
                        <input type="text" name="user_email" id="user_email">
                    </div>
                    <div class="clearfix"> </div>
                    <a class="news-letter" href="#" style="visibility: hidden">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>注册时事通讯</label>
                    </a>
                </div>
                <div class="register-bottom-grid">
                    <h3>登录信息</h3>
                    <div>
                        <span>密码<label>*</label></span>
                        <input type="password" name="user_pwd" id="user_pwd" placeholder="请设置登录密码">
                    </div>
                    <div>
                        <span>确认密码<label>*</label></span>
                        <input type="password" name="user_pwd2" id="user_pwd2" onkeyup="validate()" placeholder="请再次输入密码"><span id="tishi"></span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            <div class="clearfix"> </div>
            <div class="register-but">
                    <input type="submit" value="注册" id="submit">
                    <div class="clearfix"> </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{component::footer}"></div>
</body>
</html>