<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HC Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" th:href="@{images/logo.png}" type="image/x-icon">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link th:href="@{css/local.css}" rel='stylesheet' type='text/css' />
    <link th:href="@{css/bootstrap.css}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
    <script th:src="@{js/simpleCart.min.js}"> </script>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" th:src="@{js/jquery-1.11.1.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{js/megamenu.js}"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
</head>
<body>
<div th:replace="~{component::header}"></div>
<div class="banner">
    <div class="container">
        <div class="banner_desc">
            <h1>欢迎加入刷题大军.</h1>
            <h2>Welcome Join us</h2>
            <div class="button">
                <a th:href="@{/topic/show}" class="hvr-shutter-out-horizontal">AC Now</a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="col-md-4 box_3">
                <h3>问题跳转</h3>
                <div class="am-input-group am-input-group-primary am-input-group-sm">
                    <input type="text" class="am-form-field" placeholder="例：P1001，可跳至A+B" name="toproblem">
                </div>
                <p style="margin-top:10px;">
                    <button class="am-btn btn-primary" name="goto">跳转</button>
                    <button class="am-btn btn-primary" name="gotorandom">随机跳题</button>
                </p>
            </div>
            <div class="col-md-8 box_3 contest_border">
                <h3>近期比赛</h3>
                <div class="contest">
                    <div class="mess">
                        <h4><a href="#">2021暑期多校训练营1 </a></h4>
                        <p>报名时间：2021-04-29 10:00 至 2021-07-24 17:00<br />比赛时间：2021-07-24 12:00 至 2021-07-24 17:00 (时长:5小时)</p>
                    </div>
                    <div class="join">
                        <a href="#" class="btn btn-primary">报名</a>
                        <div class="platform-countdown js-countdown">距比赛 3天18:05:13</div>
                    </div>
                </div>
                <div class="contest">
                    <div class="mess">
                        <h4><a href="#">2021暑期多校训练营1 </a></h4>
                        <p>报名时间：2021-04-29 10:00 至 2021-07-24 17:00<br />比赛时间：2021-07-24 12:00 至 2021-07-24 17:00 (时长:5小时)</p>
                    </div>
                    <div class="join">
                        <a href="#" class="btn btn-primary">报名</a>
                        <div class="platform-countdown js-countdown">距比赛 3天18:05:13</div>
                    </div>
                </div>
                <div class="contest">
                    <div class="mess">
                        <h4><a href="#">2021暑期多校训练营1 </a></h4>
                        <p>报名时间：2021-04-29 10:00 至 2021-07-24 17:00<br />比赛时间：2021-07-24 12:00 至 2021-07-24 17:00 (时长:5小时)</p>
                    </div>
                    <div class="join">
                        <a href="#" class="btn btn-primary">报名</a>
                        <div class="platform-countdown js-countdown">距比赛 3天18:05:13</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div th:replace="~{component::footer}"></div>
    </div>
</div>
</body>
</html>